* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: black;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 60px;
}
#nav-part2 {
  display: flex;
  align-items: center;
  gap: 50px;
}
#nav-part2 a{
  text-decoration:none;
}

#nav h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

#main h1 {
  font-size: 145px;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 110px;
  width: 70%;
  margin-left: 15%;
  position: relative;
  z-index: 9;
}



#main h1:nth-child(2) {
  margin-top: 160px;
}
#main h1:nth-child(3) {
  text-align: center;
}
#main h1:nth-child(4) {
  text-align: right;
}

img {
  height: 400px;
  position: absolute;
  top: 12%;
  left: 40%;
}
#img1 {
  rotate: 25deg;
}
#img2 {
  rotate: 15deg;
}
